.ChatMember{
  margin-top: 0%;
  float: left;
  display: block;
  width: 230px;
  height: calc(100vh - 50px);
}


/* Private Chats */
.privat-chat-list{
    float: left;
    height: 45%;
    width:100%;
    display:block;
    margin-top: 0%;
    box-sizing: border-box;
    color:white;
    overflow-y: auto;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.300);
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.300);
  }
  
/* Channel */

  .channel-list {
    float:left;
    width: 100%;
    display: block;
    height: 45%;
    
    color: white;
    box-sizing:border-box;
    overflow-y: auto;
  }

  /* Headlines for both Chats */
  .ChatFontHeadline {
    float: left;
    display: block;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 110%;
    width: 100%;
    height: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.300);
  }

  /* format Chats */ 
  .privatAndChannelChats div {
    display: block;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .privatAndChannelChats div:hover {
    background-color: darkgrey;
  }
  
  .privatAndChannelChats div img{
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
  }
  
  .privatAndChannelChats div p {
    display: inline;
    margin-left: 5%;
  }
  
  .privatAndChannelChats div p p {
    font-size: 55%;
    display: inline;
    float:right;
    margin-left: 0%;
    margin-top: 13%;
    margin-bottom: 0%;
    margin-right: 5%;
  }

  
  

  
